<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    afterCancel="fragHolder.onCancel()"
    afterCommit="fragHolder.inputConversion()"
    afterEnter="fragHolder.syncRuleRequestDefinition();fragHolder.validateLookupExpression()"
    afterReturnFromPopup="fragHolder.inputConversion()"
    beforeCancel="fragHolder.clearCacheOnCancel()"
    beforeCommit="fragHolder.clearCacheOnCommit()"
    canEdit="true"
    id="LookupExpressionPopup"
    startInEditMode="true"
    title="fragHolder.PopupTitle">
    <LocationEntryPoint
      signature="LookupExpressionPopup(fragHolder : gw.bizrules.pcf.LookupExpressionFragmentHolder, rule : Rule)"/>
    <Variable
      name="fragHolder"
      type="gw.bizrules.pcf.LookupExpressionFragmentHolder"/>
    <Variable
      initialValue="fragHolder.updateLookupMetadataMap()"
      name="updateMetaDataMap"
      recalculateOnRefresh="true"
      type="Boolean"/>
    <Variable
      name="rule"
      type="Rule"/>
    <Screen>
      <TitleBar
        id="LookupTitleBarID"
        title="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.TitleBar&quot;)"/>
      <Toolbar>
        <EditButtons
          cancelLabel="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.CancelButton&quot;)"
          updateLabel="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.OKButton&quot;)"/>
        <ToolbarButtonSetRef
          toolbarButtonSet="ConditionValidationToolbarButtonSet(fragHolder)"/>
      </Toolbar>
      <AlertBar
        id="LookupMetaRefreshTag"
        label="fragHolder.getLookupInputErrors(&quot;MetadataUpdated&quot;)[0]"
        visible="fragHolder.getLookupInputErrors(&quot;MetadataUpdated&quot;) != null &amp;&amp; fragHolder.getLookupInputErrors(&quot;MetadataUpdated&quot;).length &gt; 0"/>
      <ListDetailPanel
        id="LookupMetadataSelected"
        selectionName="targetLookup"
        selectionOnEnter="fragHolder.LookupMetadataSelected"
        selectionType="gw.plugin.lookup.LookupMetadata">
        <PanelRef>
          <Toolbar>
            <ToolbarButton
              action="gw.plugin.Plugins.get(gw.bizrules.IBizRulesPlugin).getAppBizRulesPageNavigation(rule).gotoCreateLookupPage()"
              id="CreateNewLookupButton"
              label="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.CreateNewLookup&quot;)"
              visible="gw.plugin.Plugins.get(gw.bizrules.IBizRulesPlugin).getAppBizRulesPageNavigation(rule) != null &amp;&amp; gw.plugin.Plugins.get(gw.bizrules.IBizRulesPlugin).getAppBizRulesPageNavigation(rule).shouldDisplayCreateLookupButton()"/>
          </Toolbar>
          <ListViewPanel
            id="LookupsListViewPanelLV">
            <RowIterator
              editable="false"
              appendPageInfo="true"
              elementName="lookupTable"
              id="LookupPagination"
              pageSize="10"
              value="new ArrayList&lt;gw.plugin.lookup.LookupMetadata&gt;(fragHolder.LookupMetadataMap.values())"
              valueType="List&lt;gw.plugin.lookup.LookupMetadata&gt;">
              <Row>
                <TextCell
                  align="left"
                  id="TableName"
                  label="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.TableName&quot;)"
                  value="(lookupTable as gw.plugin.lookup.LookupMetadata).TableName"/>
                <TextCell
                  align="left"
                  id="Output"
                  label="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.Output&quot;)"
                  value="(lookupTable as gw.plugin.lookup.LookupMetadata).Output.Name"/>
                <TextCell
                  align="left"
                  id="OutputType"
                  label="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.OutputType&quot;)"
                  value="(lookupTable as gw.plugin.lookup.LookupMetadata).Output.DataType.RelativeName"/>
                <TextCell
                  align="left"
                  id="Inputs"
                  label="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.Inputs&quot;)"
                  value="(lookupTable as gw.plugin.lookup.LookupMetadata).Inputs.map(\lookupMetaColumn -&gt; lookupMetaColumn.Name).join(&quot;, &quot;)"/>
                <TextCell
                  align="left"
                  grow="true"
                  id="Description"
                  label="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.Description&quot;)"
                  value="(lookupTable as gw.plugin.lookup.LookupMetadata).Description"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <CardViewPanel
          id="LookupCV">
          <Card
            id="LookupDetailCard"
            title="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.CardPanelTitle&quot;)">
            <DetailViewPanel>
              <InputColumn>
                <Label
                  id="LTLabelID"
                  label="targetLookup.TableName"/>
                <TextInput
                  id="LTDescritionID"
                  labelAbove="true"
                  value="targetLookup.Description"/>
              </InputColumn>
            </DetailViewPanel>
            <DetailViewPanel>
              <InputColumn>
                <ButtonInput
                  action="ContextHelp.push()"
                  id="LookupContextHelp"
                  labelAbove="true"
                  shortcut="H"
                  value="DisplayKey.get('BizRules.ConditionBuilderPanelSet.ContextHelp.Button')"
                  visible="CurrentLocation.InEditMode"/>
              </InputColumn>
            </DetailViewPanel>
            <DetailViewPanel
              editable="true"
              id="LookupRequestDefDV"
              visible="targetLookup != null">
              <InputColumn>
                <ListViewInput
                  id="RuleLookupRequestDef"
                  labelAbove="true">
                  <Toolbar/>
                  <ListViewPanel
                    id="RuleLookupRequestDefLV">
                    <RowIterator
                      editable="true"
                      elementName="lookupInput"
                      pageSize="0"
                      value="fragHolder.getOrCreateLookupRequestDefinition(targetLookup.TableID)"
                      valueType="RuleLookupParameterDef[]">
                      <Row>
                        <TextCell
                          align="left"
                          id="InputName"
                          label="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.RequiredInputs&quot;)"
                          value="lookupInput.ColumnName"/>
                        <TextCell
                          align="left"
                          autoComplete="fragHolder.getAutocompleteHandler(lookupInput.ColumnType)"
                          editable="true"
                          enableAutoCompleteMarkup="true"
                          id="ContextSymbol"
                          label="DisplayKey.get(&quot;BizRules.LookupExpressionPopup.Expression&quot;)"
                          required="false"
                          value="lookupInput.Symbol">
                          <PostOnChange
                            onChange="fragHolder.validateLookupExpression()"/>
                        </TextCell>
                      </Row>
                      <Row
                        visible="fragHolder.getShowValidationErrors() and fragHolder.getLookupInputErrors(lookupInput.ColumnName).length &gt; 0">
                      <EmptyCell
                        id="empty"/>
                      <FormatCell
                        align="left"
                        id="RightOperandValidationErrorsCell"
                        wrap="true">
                        <ContentInput
                          id="RightOperandValidationErrorsCellHeader"
                          visible="fragHolder.getLookupInputErrors(lookupInput.ColumnName).length &gt; 0">
                          <Link
                            icon="&quot;alert&quot;"
                            iconType="svgFileName"
                            iconColor="gw.api.web.color.GWColor.THEME_ALERT_ERROR"
                            id="RightOperandErrorIcon"/>
                          <Link
                            id="RightOperandValidationLabel"
                            label="DisplayKey.get('BizRules.ConditionBuilderPanelSet.LV.RightOperand')"
                            styleClass="bold"/>
                        </ContentInput>
                        <InputIterator
                          elementName="error"
                          id="RightOperandErrors"
                          type="java.lang.String"
                          value="fragHolder.getLookupInputErrors(lookupInput.ColumnName)"
                          valueType="java.lang.String[]">
                          <TextInput
                            id="RightOperandError"
                            value="error"/>
                        </InputIterator>
                      </FormatCell>
                      </Row>
                    </RowIterator>
                  </ListViewPanel>
                </ListViewInput>
              </InputColumn>
            </DetailViewPanel>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Popup>
</PCF>