<?xml version="1.0"?>
<PCF xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewTile
    id="CompletedPolicyTransactionsListViewTile"
    stretch="true"
    title="DisplayKey.get('Web.Dashboard.Tile.CompletedPolicyTransactions')"
    viewMoreAction="helper.viewMore(policyPeriod, asOfDate)"
    viewMoreLabel="DisplayKey.get('Web.Tile.ViewAll')"
    viewMoreVisible="helper.ViewMoreVisible">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="Date"/>
    <Variable
      initialValue="new gw.api.web.dashboard.ui.policy.CompletedTransactionsHelper(policyPeriod)"
      name="helper"
      type="gw.api.web.dashboard.ui.policy.CompletedTransactionsHelper"/>
    <RowIterator
      editable="false"
      elementName="transaction"
      value="helper.LatestCompletedPolicyTransactions"
      valueType="entity.PolicyPeriod[]">
      <Row>
        <TextCell
          action="JobForward.go(transaction.Job)"
          available="transaction.Job.Viewable"
          enableSort="false"
          grow="true"
          id="Number"
          label="DisplayKey.get('Web.Dashboard.Tile.CompletedPolicyTransactions.TransactionNumber')"
          value="transaction.Job.JobNumber"
          wrap="false"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="EffectiveDate"
          label="DisplayKey.get('Web.Dashboard.Tile.CompletedPolicyTransactions.EffectiveDate')"
          value="transaction.EditEffectiveDate"
          wrap="false"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          grow="true"
          id="CloseDate"
          label="DisplayKey.get('Web.Dashboard.Tile.CompletedPolicyTransactions.CloseDate')"
          value="transaction.Job.CloseDate"
          wrap="false"/>
        <TextCell
          enableSort="false"
          grow="true"
          id="Type"
          label="DisplayKey.get('Web.Dashboard.Tile.CompletedPolicyTransactions.TransactionType')"
          value="transaction.Job.DisplayType"
          wrap="false"/>
        <MonetaryAmountCell
          enableSort="false"
          grow="true"
          id="Premium"
          label="DisplayKey.get('Web.Dashboard.Tile.CompletedPolicyTransactions.Premium')"
          value="transaction.TransactionCostRPT"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewTile>
</PCF>